<main class="d-flex flex-column gap-4 p-4 text-center">
  <h1>Nos articles</h1>
  <p>Voici la liste de tous nos articles</p>
  <div>
  </div>
  <div class="d-flex flex-wrap">
    <% @articles.each do |article| %>
      <div class="card" style="width: 23rem;">
        <%= link_to image_tag("#{article.main_image}", alt: "#{article.main_image_description}", class: "article_main_image_size" ), articles_show_path(article) %>
      </div>
    <% end %>
  </div>
</main>
