.nav_size {
  height: 200px;
}

a {
  text-decoration: none;
  height: 100%;
}

.footer_image_size {
  height: 90%;
}

.article_main_image_size {
  width: 100%;
  height: 100%;
}

.actus_image_size {
  width: 300px;
}
